@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar.css */
.nav-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #a0457a;
  }
  /* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

/* Body Styling */
body {
  background-color: #f4f7f5; /* Light earthy green background */
  color: #2b3a2e; /* Dark green text */
  line-height: 1.6;
  padding: 20px;
}

/* Header */
header {
  background-color: #4a7740; /* Verdant green */
  padding: 10px;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #4a7740;
  padding: 10px 0;
  margin-bottom: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f5128f; /* Light green hover effect */
}

/* Main Container */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Plant Cards */
.plant-card {
  background-color: white;
  border: 2px solid #e6eae7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.plant-card:hover {
  transform: translateY(-5px);
}

.plant-card img {
  width: 100%;
  border-radius: 10px;
}

.plant-card h2 {
  font-size: 1.8rem;
  margin-top: 10px;
  color: #4a7740;
}

.plant-card p {
  font-size: 1rem;
  color: #6e8570;
}

/* Footer */
footer {
  background-color: #4a7740;
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 600px;
}

footer p {
  font-size: 0.9rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .plant-card {
    display: inline-block;
    width: 30%;
    margin: 1%;
  }
}
/* @i


  